/* 
#3874a7     blue 
#67ab44     green
#aa73a5     purple
#c8e2f1     light blue
#efbb4d     tan
*/


/* 
absolute forces it to be there, even if it overlaps
relative will fit it in around whatever is already there
*/


body {
  
  min-height: 100%;
  margin:0;
  clear: both;
}




/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(247, 244, 242);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    
    font-family: 'Lora', serif;
    
  }
  
  /* Change the color of links on hover 
  .topnav a:hover {
    border-bottom: .25em solid black;
  }
  */

  #navName {
    margin-left: 70px;
    font-weight: 900;
    font-size: 30px;
  }

  #navOptions {
   float: right;
   font-weight: 700;
   font-size: 17px;
   line-height: 2em;
  }


  
  
  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
  }

#bannerLogo {
  padding: 5px;
  padding-top: 15px;
  padding-left: 10px;
  width: 50px;
  display: inline-block;
  position: fixed;
}




#footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   width:100%;
   background: rgb(247, 244, 242);
   text-align: center;
   overflow: hidden;
}


#boxes {
  display: block;
    position: relative;
}



#firstbox{
    display: block;
    position: relative;
}


#flower{
    float:left; 
    margin:40px;
    height: 20vw;
    padding-left: 5vw;
}


#firstboxtextbackground {
    z-index: -1;
    position: absolute;
    top: 0;
    background-color: #aa73a5;
    right: 0; 
    width: 80vw; 
    padding-top: 9vw;
    padding-bottom: 9vw;
}


#firstboxtext {
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-left: 100px;
}

#secondbox {
  clear:both; /* Use this to get things to not overlap but go below instead */
    
}

#secondboxtext {
  text-align: center;
    color: black;
    font-size: xx-large;
    padding-left: 100px;
}


#details {
  color: #aa73a5;
  font-size: xx-large;
}
